.centerImage {
  height: auto;
  width: 100%;
}

.nameText {
  font-size: 25px;
}

.headerContainer {
  font-family: Coronetscript, cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 25px 0 25px;
  color: white;
  text-shadow: 1px 1px 0 black;
}

.no {
  background-color: transparent;
}

.rowFlex {
  display: flex;
  flex-direction: row;
  color: white;
  text-shadow: 1px 1px 0 black;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 0;
  z-index: 100;
  width: 100%;
}

.page {
  position: relative;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  margin: 0 35% 0 35%;
}

.pageTextContainer {
  text-align: justify;
  padding: 125px 10% 125px 10%;
  font-family: 'Karla', sans-serif;
}

.hotelGridImage {
  height: auto;
  width: 100%;
}

.hotelGridItem {
  text-align: justify;
  padding: 10px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
}

.hotelGridContainer {
  display: flex !important;
  justify-content: flex-start;
  margin-left: -10px;
}

.hotelButton {
  align-self: flex-start;
}

.flexboxRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smallImage {
  height: 45%;
  width: 45%;
}

.fakeCenter {
  margin-left: 25%;
}

.centerText {
  text-align: center;
}

.fancyText {
  font-family: 'Dancing Script', cursive;
}
