.nameText {
  color: #f4bbcf;
  font-size: 25px;
  font-family: Coronetscript, cursive;
}

.container {
  flex-direction: column;
  display: flex;
  color: black;
  position: sticky;
  top: 0;
  background-color: #f0f0f5;
  padding-top: 10px;
}
